@model TeduCoreApp.Models.ProductViewModels.OrderViewModels
@{
    ViewData["Title"] = "Index";
    var order = Model.BiillCustomer;
}
<!-- Main Container -->
<section class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="col-main col-sm-9 col-xs-12">
                <div class="my-account">
                    <div class="page-title">
                        <h2>Đơn Hàng</h2>
                    </div>
                    <div class="orders-list table-responsive">
                        <!--orders list table-->
                        <table class="table table-bordered cart_summary table-striped">
                            <thead>
                                <tr>
                                    <!--titles for td-->
                                    <th>Số hóa đơn</th>
                                    <th>Ngày đặt</th>
                                    <th>Trạng thái</th>
                                    <th>Tổng tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.BiillCustomer)
                                {
                                <tr>
                                    <!--order number-->
                                    <td data-title=""><a href="order_details.html" class="order-number">@item.Id</a></td>
                                    <!--order date-->
                                    <td data-title="Order Date">@item.DateCreated</td>
                                    <!--order status-->
                                    <td data-title="Order Status">@item.BillStatus</td>
                                    <!--quanity-->
                                    <td data-title="Total"><span class="order-total"></span></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>