
@{
    ViewData["Title"] = "Tất cả bài viết";
    ViewData["MetaDescription"] = "Tất cả bài viết";
}
<section class="blog_post">
    <div class="container">

        <!-- Center colunm-->
        <div class="blog-wrapper">
            <div class="page-title">
                <h2>Blog post</h2>
            </div>
            <ul class="blog-posts">
                <li class="post-item col-md-4">
                    <div class="blog-box">
                        <a href="blog_single_post.html"> <img class="primary-img" src="images/blog-img1.jpg" alt="HTML template"></a>
                        <div class="blog-btm-desc">
                            <div class="blog-top-desc">
                                <div class="blog-date"> 28 Jan 2017 </div>
                                <h4><a href="blog_single_post.html">Lorem ipsum dolor sit</a></h4>
                                <div class="jtv-entry-meta"> <i class="fa fa-user-o"></i> <strong>Admin</strong> <a href="#"><i class="fa fa-commenting-o"></i> <strong>15 Comments</strong></a></div>
                            </div>
                            <p>Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, Mauris fermentum dictum.</p>
                            <a class="read-more" href="blog_single_post.html"> Read More</a>
                        </div>
                    </div>
                </li>
                <li class="post-item col-md-4">
                    <div class="blog-box">
                        <a href="blog_single_post.html"> <img class="primary-img" src="images/blog-img1.jpg" alt="HTML template"></a>
                        <div class="blog-btm-desc">
                            <div class="blog-top-desc">
                                <div class="blog-date"> 18 Feb 2017 </div>
                                <h4><a href="blog_single_post.html">Sed do eiusmod sit amet</a></h4>
                                <div class="jtv-entry-meta"><i class="fa fa-user-o"></i> <strong>Admin</strong> <a href="#"><i class="fa fa-commenting-o"></i> <strong>50 Comments</strong></a></div>
                            </div>
                            <p> Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            <a class="read-more" href="blog_single_post.html"> Read More</a>
                        </div>
                    </div>
                </li>
                <li class="post-item col-md-4">
                    <div class="blog-box">
                        <a href="blog_single_post.html"> <img class="primary-img" src="images/blog-img1.jpg" alt="HTML template"></a>
                        <div class="blog-btm-desc">
                            <div class="blog-top-desc">
                                <div class="blog-date"> 5 Mar 2017 </div>
                                <h4><a href="blog_single_post.html">Integer scelerisque diam</a></h4>
                                <div class="jtv-entry-meta"><i class="fa fa-user-o"></i> <strong>Admin</strong> <a href="#"><i class="fa fa-commenting-o"></i> <strong>25 Comments</strong></a></div>
                            </div>
                            <p> Doloremque nam. Ut sit amet turpis. In est arcu, sollicitudin eu, vehicula venenatis.  Aenean auctor wisi et urna.</p>
                            <a class="read-more" href="blog_single_post.html"> Read More</a>
                        </div>
                    </div>
                </li>
                <li class="post-item col-md-4">
                    <div class="blog-box">
                        <a href="blog_single_post.html"> <img class="primary-img" src="images/blog-img1.jpg" alt="HTML template"></a>
                        <div class="blog-btm-desc">
                            <div class="blog-top-desc">
                                <div class="blog-date"> 5 May 2017 </div>
                                <h4><a href="blog_single_post.html">Integer scelerisque diam</a></h4>
                                <div class="jtv-entry-meta"><i class="fa fa-user-o"></i> <strong>Admin</strong> <a href="#"><i class="fa fa-commenting-o"></i> <strong>05 Comments</strong></a></div>
                            </div>
                            <p>Ut sit amet turpis. In est arcu, sollicitudin eu, vehicula venenatis.  Aenean auctor wisi et urna. Aliquam erat volutpat. </p>
                            <a class="read-more" href="blog_single_post.html"> Read More</a>
                        </div>
                    </div>
                </li>
                <li class="post-item col-md-4">
                    <div class="blog-box">
                        <a href="blog_single_post.html"> <img class="primary-img" src="images/blog-img1.jpg" alt="HTML template"></a>
                        <div class="blog-btm-desc">
                            <div class="blog-top-desc">
                                <div class="blog-date"> 06 Aug 2017 </div>
                                <h4><a href="blog_single_post.html">Aenean auctor wisi et urna</a></h4>
                                <div class="jtv-entry-meta"><i class="fa fa-user-o"></i> <strong>Admin</strong> <a href="#"><i class="fa fa-commenting-o"></i> <strong>85 Comments</strong></a></div>
                            </div>
                            <p>Ut sit amet turpis. In est arcu, sollicitudin eu, vehicula venenatis.  Aenean auctor wisi et urna. Aliquam erat volutpat.</p>
                            <a class="read-more" href="blog_single_post.html"> Read More</a>
                        </div>
                    </div>
                </li>
                <li class="post-item col-md-4">
                    <div class="blog-box">
                        <a href="blog_single_post.html"> <img class="primary-img" src="images/blog-img1.jpg" alt="HTML template"></a>
                        <div class="blog-btm-desc">
                            <div class="blog-top-desc">
                                <div class="blog-date"> 07 Aug 2017 </div>
                                <h4><a href="blog_single_post.html">Duis ac turpis aliquam leo</a></h4>
                                <div class="jtv-entry-meta"><i class="fa fa-user-o"></i> <strong>Admin</strong> <a href="#"><i class="fa fa-commenting-o"></i> <strong>25 Comments</strong></a></div>
                            </div>
                            <p>Ut sit amet turpis. In est arcu, sollicitudin eu, vehicula venenatis.  Aenean auctor wisi et urna. Aliquam erat volutpat.</p>
                            <a class="read-more" href="blog_single_post.html"> Read More</a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="sortPagiBar">
                <div class="pagination-area">
                    <ul>
                        <li><a class="active" href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- ./ Center colunm -->

    </div>
</section>
<!-- Main Container End -->
