@inject IViewLocalizer Localizer
<header>
    <div class="header-container">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-xs-12">
                        <!-- Default Welcome Message -->
                        <!-- Language &amp; Currency wrapper -->
                        @await Html.PartialAsync("_SelectLanguagePartial")

                    </div>
                    <!-- top links -->
                    <div class="headerlinkmenu col-md-8 col-sm-8 col-xs-12">
                        <span class="phone  hidden-xs hidden-sm">Điện thoại:  +84 0328.328.190</span>
                        <ul class="links">
                            <li class="hidden-xs"><a title="Help Center" href="#"><span>@Localizer["HelpCenter"]</span></a></li>
                            @if (User.Identity.IsAuthenticated)
                            {

                                <li>
                                    <div class="dropdown">
                                        <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span>@User.GetSpecificClaim("FullName")</span> <i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="/account.html">Account</a></li>
                                            <li><a href="/order.html">Theo dõi đơn hàng</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                                        <a href="#" onclick="document.getElementById('logoutForm').submit()" id="ss"><span>Thoát</span></a>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li><a title="login" href="/login.html"><span>Đăng nhập</span></a></li>
                                <li><a title="register" href="/register.html"><span>Đăng ký</span></a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- header inner -->
        <div class="header-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-xs-12 jtv-logo-block">
                        <!-- Header Logo -->
                        <div class="logo"><a title="e-commerce" href="/"><img alt="ShopMart" title="Tuan vi" src="~/client-side/images/logo.png"></a> </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-6 jtv-top-search">
                        <!-- Search -->
                        <div class="top-search">
                            <div id="search">
                                <form method="get" action="/search.html">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Nhập tên sản phẩm..." name="keyword">
                                        <button class="btn-search" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End Search -->
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 top-cart">
                        <!-- top cart -->
                        <div class="top-cart-contain">
                            <vc:header-cart></vc:header-cart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>