@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    0328.328.190
</address>

<address>
    <strong>Hỗ trợ:</strong> <a href="mailto:tuanvi.2461998@gmail.com">tuanvi.2461998@gmail.com</a><br />
    <strong>Quảng cáo:</strong> <a href="mailto:tuanvi.2461998@gmail.com">tuanvi.2461998@gmail.com</a>
</address>
